@import "../../helpers/variables.scss";
@import "../../helpers/mixins.scss";

.main-banner{
  position: relative;
  
  &--thumb{
    position: relative;
    @media screen and (min-width: $breakpoint-lg) {
      height: 37.5rem;
    }
    
    .santo{
      position: absolute;
      right: 0;
      bottom: 0;
      width: 60%;
      height: auto;
      object-fit: contain;
      max-height: 28.125rem;
      @media screen and (min-width: $breakpoint-lg) {
        width: 30%;
      }
    }
  }
  &--container{   
    &--content{
      color: $white;
      padding: 3.5rem 4.5rem;
      margin-top: 1.25rem;
      display: flex;
      flex-direction: column;
      row-gap: 0.625rem;
      
      @media screen and (min-width: $breakpoint-lg) {      
        position: absolute;
        top: 35%;
        max-width: 31.25rem;
      }
  
      .title{
        font-weight: 900;
        font-size: 1.125rem;
  
        @media screen and (min-width: $breakpoint-lg) {
          font-size: 1.875rem;
        }
      }
  
      .content{
        font-size: 0.875rem;
      }
  
      &.baloon{
        background-color: $fColor;
        border-radius: 14rem 12.5rem 12.5rem 0;
      }
    }
  }

}
